* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;

  --green: #1a924e;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  background-color: var(--green);
  color: white;
  padding: 16px 12px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100vw;
  z-index: 1;
}

#titulo {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

#topo {
  position: absolute;
  top: 0;
}

main {
  margin-top: 78px;
}

#posicao_foto {
  display: grid;
  grid-template-areas:
    "img link"
    "img link"
    "name name";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.33fr 1.33fr 0.33fr;
  height: fit-content;
  width: 100%;
}

#minha_foto {
  border-radius: 16px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  grid-area: img;
  height: 90%;
  margin: auto;
  object-fit: cover;
  width: 75%;
}

figcaption {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  grid-area: link;
  justify-content: space-evenly;
}

#logoGitHub,
#logoLinkedin {
  align-items: center;
  color: black;
  display: flex;
  font-weight: 600;
  gap: 8px;
  text-decoration: none;
}

#logoGitHub img,
#logoLinkedin img {
  height: 44px;
}

#meu_nome {
  border-radius: 2px;
  border-top: 2px solid lightgray;
  font-size: 20px;
  font-weight: 700;
  grid-area: name;
  height: fit-content;
  margin: 12px auto;
  padding: 12px 8px;
  text-align: center;
  width: 90%;
}


#licoes_aprendidas,
#licoes_a_aprender {
  align-items: center;
  display: grid;
  grid-template-areas: "title title";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 100%;
}

#licoes_aprendidas h2,
#licoes_a_aprender h2 {
  background-color: rgba(211, 211, 211, 0.5);
  grid-area: title;
  padding: 12px;
  text-align: center;
  width: 100%;
}

#licoes_aprendidas li,
#licoes_a_aprender li {
  width: 50%;
}

#licoes_aprendidas li::marker,
#licoes_a_aprender li::marker {
  color: var(--green);
  font-weight: 600;
}

#meu_aprendizado h2,
#aprendizado-aside h2 {
  background-color: rgba(211, 211, 211, 0.5);
  padding: 12px;
  text-align: center;
  width: 100%;
}

#meu_aprendizado p,
#aprendizado-aside p {
  line-height: 25px;
  padding: 16px;
  text-align: justify;
  width: 100%;
}

#referencias h2 {
  background-color: rgba(211, 211, 211, 0.5);
  padding: 12px;
  text-align: center;
}

#referencias p {
  padding: 16px;
}

#referencias table {
  margin: auto;
  padding: 8px;
  width: 100%;
}

table td {
  width: 50%;
}

#referencias li {
  margin: auto;
  width: 50%;
}

#button-container {
  position: relative;
  height: 48px;
  width: 100%;
}

#button-container button {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  border: none;
  cursor: pointer;
  height: 48px;
  margin-right: 8px;
  position: absolute;
  right: 0;
  width: 48px;
}

#button-container button:hover {
  background-color: var(--green);
  transition: 0.3s;
}

#scroll-top {
  border: solid #999;
  border-width: 0 6px 6px 0;
  bottom: 10px;
  height: 20px;
  padding: 5px;
  position: absolute;
  right: 15px;
  transform: rotate(-135deg);
  width: 20px;
}

#button-container button:hover #scroll-top {
  border: solid white;
  border-width: 0 6px 6px 0;
  transition: 0.3s;
}

#rodape {
  text-align: center;
  padding: 24px;
}

@media only screen and (min-width: 768px) {
  #posicao_foto {
    grid-template-areas:
      "img link"
      "img link"
      "name name";
    grid-template-rows: 1.25fr 1.25fr 0.5fr;
    height: 350px;
  }

  #minha_foto {
    margin-left: 33%;
    width: 50%;
  }

  figcaption {
    justify-content: center;
    gap: 32px;
  }

  #meu_nome {
    width: 75%;
  }

  #licoes_container,
  #aprendizado_container {
    display: flex;
    width: 100%;
  }

  #meu_aprendizado,
  #aprendizado-aside {
    width: 100%;
  }

  #meu_aprendizado p,
  #aprendizado-aside p {
    padding: 12px 24px;
  }

  #button-container button {
    margin-right: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  main {
    max-width: 1200px;
    margin: 78px auto auto;
  }

  #section-1 {
    display: flex;
    width: 100%;
  }

  #posicao_foto {
    width: 33%;
  }

  #licoes_container {
    display: flex;
    width: 66%;
  }

  #minha_foto {
    margin-left: 24px;
    width: 90%;
  }

  #meu_nome {
    width: 90%;
  }

  figcaption {
    padding-left: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  #button-container button {
    margin-right: 0;
  }

  #meu_nome {
    width: 100%;
  }
}
